<%- include('../partials/header_customer') %>
    <div class="bg-lblue">
        <div style="padding-top: 100px;">
    <div id="wrapper">
        
        <%- include('../partials/nav_home_cadet') %>
    </div>




          
            <% if(err)  {%>

              <% if(err.includes("Success") || err.includes("success") || err.includes("Successfully") || err.includes("successfully") || err.includes("Successfull") || err.includes("successfull") )  {%>
      
                  <div class="container col-md-6 col-xl-4 px-2 rounded-1">
                      <div class="alert alert-success alert-dismissible fade show" role="alert">
                          <%=err %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    </div>
                    <% } else { %>
      
      
          <div class="container col-md-6 col-xl-4 px-2 rounded-1">
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <%=err %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          </div>
            <% } %>
            <% } %>
            <div class="container bg-image shadow mb-5 col-md-6 col-xl-6 col-sm-5 px-5 py-2 mb-3 rounded-5" style="background-image: url(/photos/bg.jpg);">

              <div class="text-center fs-2 mt-4 text-dark">Edit Your Profile</div>
              <div class="text-center mb-5 text-dark">Fill the details mentioned.</div>

              


              <form action="/customer/<%= customer.phone%>/edit?_method=patch" method="post">

                <div class="row">
                  <div class="col-12 col-sm-12">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="fullname" name="fullname"
                        value="<%= customer.fullname%>" required>
                      <label for="fullname">Full name</label>
                    </div>
                  </div>
                  
                </div>

                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-floating mb-3">
                      <input type="tel" class="form-control" id="phone-number" name="phone" value="<%= customer.phone%>"
                        pattern="[0-9]{10}" disabled>
                      <label for="phone-number">Phone number</label>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="email" name="email" value="<%= customer.email%>"
                        disabled>
                      <label for="email">Email</label>
                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col-12 col-sm-6">
                    <div class="form-floating mb-3">
                      <select id="gender" class="form-select selectpicker" placeholder="Gender" name="gender"
                        data-width="auto" required>

                       
                        <% if(customer.gender==='male' )  {%>
                          <option selected value="male"> Male </option>
                          <option value="female"> Female </option>
                          <option value="other"> Other </option>

                          <%} else if (customer.gender=='female' ) {%>
                            <option value="male"> Male </option>
                            <option selected value="female"> Female </option>
                            <option value="other"> Other </option>
                            <% } else {%>
                              <option value="male"> Male </option>
                              <option value="female"> Female </option>
                              <option selected value="other"> Other </option>
                              <% }%>
                      </select>
                      <label for="gender">Gender</label>
                    </div>
                  </div>

                  <div class="col-12 col-sm-6">
                    <div class="form-floating mb-3">
                      <input type="date" class="form-control" id="birthdate"
                        value="<%= customer.date.toISOString().slice(0 ,10)%>" name="date" placeholder="somedate" max="9999-12-31"
                        required>
                      <label for="birthdate">Birth date</label>
                    </div>
                  </div>
                </div>


                <div class="text-center my-4 text-center">
                  <button class="btn btn-primary px-3" type="submit">Submit</button>
              </div>

              </form>

            </div>

          </div>


          <%- include('../partials/footer') %>