
<%- include('../partials/header_customer') %>
    <div class="bg-lblue">
        <div style="padding-top: 100px;">
    <div id="wrapper">
        
        <%- include('../partials/nav') %>
    </div>


                
                    <div class="container bg-image border shadow mb-5 col-md-6 col-xl-6 col-sm-5 px-5 py-2 mb-3 rounded-5" style="background-image: url('https://cdn.wallpapersafari.com/71/78/LUEfzS.jpg');">

                        <div class="profile my-4 pt-5 ">
                            <div class="mb-3 text-center"><img src="/photos/person_logo.svg" alt="person" width="15%"></div>
                            <div class="fs-3 text-center">My Profile</div>
                        </div>
                        <div class="row my-5">
                            <div class="col-2"></div>
                            <div class="col-lg-8">
                                <div class="mb-4">
                                    <div class="nothing">
                                        
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <p class="mb-0">Full Name</p>
                                            </div>
                                            <div class="col-sm-8">
                                                <p class="text-muted mb-0"><%= customer.fullname%></p>
                                            </div>
                                        </div>
                                        <hr>
                                        
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <p class="mb-0">Email</p>
                                            </div>
                                            <div class="col-sm-8">
                                                <p class="text-muted mb-0"><%= customer.email%></p>
                                            </div>
                                        </div>
                                        <hr>

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <p class="mb-0">Phone</p>
                                            </div>
                                            <div class="col-sm-8">
                                                <p class="text-muted mb-0"><%= customer.phone%></p>
                                            </div>
                                        </div>
                                        <hr>
                
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <p class="mb-0">Gender</p>
                                            </div>
                                            <div class="col-sm-8">
                                                <p class="text-muted mb-0"><%= customer.gender%></p>
                                            </div>
                                        </div>
                                        <hr>

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <p class="mb-0">Birthdate</p>
                                            </div>
                                            <div class="col-sm-8">
                                                <% const dateObj = new Date(customer.date); %>
                                                <% const day = dateObj.getDate().toString().padStart(2, '0'); %>
                                                <% const month = (dateObj.getMonth() + 1).toString().padStart(2, '0'); %>
                                                <% const year = dateObj.getFullYear(); %>
                                                <p class="text-muted mb-0"><%= `${day}/${month}/${year}` %></p>
                                              </div>                                              
                                        </div>
                                        <hr>

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <p class="mb-0">Age</p>
                                            </div>
                                            <div class="col-sm-8">
                                                <p class="text-muted mb-0"><%= new Date().getFullYear() - customer.date.getFullYear()%></p>
                                            </div>
                                        </div>
                                        <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container text-center mb-5">
                        <a href="/customer/edit" class="btn btn-primary">Edit Profile</a>
                    </div>

                    

    
<%- include('../partials/footer') %>
